
<sebm-google-map class="map" [latitude]="coordinates.lat" [longitude]="coordinates.lng" [zoom]="10">
  <sebm-google-map-marker
    *ngFor="let m of users;let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    (markCount)="i"
  >

    <sebm-google-map-info-window  >
      <strong class="text-right">&nbsp;&nbsp; &nbsp;&nbsp;Имя: {{ m.userName}}</strong>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
<!--<div class="row">
  <div class="small-12 columns">
    <div *ngFor="let i of users; ">
      <h5>{{i.userName}}</h5>

    </div>

  </div>
</div>-->
