
<div class="row align-center container">
  <div class="small-12 medium-6 columns">
    <div class="card">

    <h2>Регистрация</h2>
    <!--form-->
    <form #formData='ngForm' novalidate
          (ngSubmit)="onSubmit(formData)"
          [formGroup]="signUpForm">
      <!--email-->
      <div class="fields">
        <input [ngClass]="{'has-error': emailMessage}" class="form-control"
               id="emailId"
               type="email"
               placeholder="Почта"
               formControlName="email">

        <span class="error" *ngIf="emailMessage">{{ emailMessage }}</span>
        <span class="error" *ngIf="notFound">{{ emailUserExist }}</span>

      </div>

      <!--password-->
      <div class="fields">
        <input [ngClass]="{'has-error': passwordMessage}" class="form-control"
               id="passwordlId"
               type="password"
               placeholder="Пароль"
               formControlName="password">

        <span class="error" *ngIf="passwordMessage">{{ passwordMessage }}</span>
      </div>
      <!--button-->
      <div class="fields">
        <button type="submit" class="button expanded" [disabled]="!signUpForm.valid && signUpForm.touched">
          Отправить
        </button>
      </div>
    </form>

  </div>
</div>

</div>

<!--
<h2>Join now</h2>


<form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

  <input type="text" placeholder="Email" (ngModel)="email"
         name="email"  required>
  <input type="password" placeholder="Password" (ngModel)="password"
         name="password"  required>



  <button type="submit" class="button" [disabled]="!formData.valid" >
    Create my account</button>
</form>
-->
