<div class="row expanded container ">
  <div class="small-12 medium-3 columns ">
    <div class="card">
      <h4>Новая публикация</h4>
      <add-post></add-post>
    </div>
  </div>

  <div class="small-12 medium-6 columns">
    <div class="card">
      <h4>Ваши публикации</h4>
      <app-posts></app-posts>
    </div>
  </div>

  <div class="small-12 medium-3 columns">
    <!--<div *ngIf="editing" class="card edit">-->
    <div [class.out]="!editing" class="card edit">
      <h4>Персональные данные</h4>
      <span>Обязательно заполните все поля.</span>
      <hr>
      <form (ngSubmit)="onSubmit()" #editForm="ngForm" >
        <div>
          <label>Фото профиля(ссылка)
            <span *ngIf="(uPic.touched || uPic.dirty) && uPic.errors">
                            <span class="has-error" *ngIf="uPic.errors.required">
                                Это поле обязательно.
                            </span>
                            <span class="has-error" *ngIf="uPic.errors.minlength">
                                Введено мало символов.
                            </span>
            </span>
            <input [ngClass]="{'has-error': (uPic.touched || uPic.dirty) && uPic.errors}" class="form-control"
                   type="text"
                   [(ngModel)]="currentUser.userPic"
                   value="{{currentUser.userPic}}"
                   name="userPic"
                   #uPic="ngModel"
                   required
                   minlength="3">

          </label>
        </div>

        <div>
          <label>Имя и Фамилия
            <span *ngIf="(uName.touched || uName.dirty) && uName.errors">
                            <span class="has-error" *ngIf="uName.errors.required">
                                Это поле обязательно.
                            </span>
                            <span class="has-error" *ngIf="uName.errors.minlength">
                                Введено мало символов.
                            </span>
            </span>
            <input [ngClass]="{'has-error': (uName.touched || uName.dirty) && uName.errors}" class="form-control"
                   type="text"
                   [(ngModel)]="currentUser.userName"
                   value="{{currentUser.userName}}"
                   name="userName"
                   #uName="ngModel"
                   required
                   minlength="3">

          </label>
        </div>
        <!--email-->
        <div>
          <label>Почта
            <span *ngIf="(uEmail.touched || uEmail.dirty) && uEmail.errors">
                            <span class="has-error" *ngIf="uEmail.errors.required">
                                Это поле обязательно.
                            </span>
                            <span  class="has-error" *ngIf="uEmail.errors.minlength">
                                Введено мало символов.
                            </span>
                <span  class="has-error" *ngIf="uEmail.errors.email">
                                Ввeдите правильную почту.
                            </span>
            </span>
            <input [ngClass]="{'has-error': (uEmail.touched || uEmail.dirty) && uEmail.errors}" class="form-control"
                   id="emailId"
                   type="email"
                   [(ngModel)]="currentUser.email"
                   value="{{currentUser.email}}"
                   name="email"
                   #uEmail="ngModel"
                   required
                   minlength="3"
                   email
                   disabled
            >

          </label>
        </div>




        <div>
          <label>Телефон
            <span *ngIf="(uPhone.touched || uPhone.dirty) && uPhone.errors">
                            <span class="has-error" *ngIf="uPhone.errors.required">
                                Это поле обязательно.
                            </span>
                            <span class="has-error" *ngIf="uPhone.errors.minLength">
                                Введено мало символов.
                            </span>
            </span>
            <input [ngClass]="{'has-error': (uPhone.touched || uPhone.dirty) && uPhone.errors}" class="form-control"
                   type="tel"
                   [(ngModel)]="currentUser.phone"
                   value="{{currentUser.phone}}"
                   name="phone"
                   #uPhone="ngModel"
                   required
                   minlength="8"
                   >

          </label>
        </div>
        <div>
          <label>Возраст
            <span *ngIf="(uAge.touched || uAge.dirty) && uAge.errors">
                            <span class="has-error" *ngIf="uAge.errors.required">
                                Это поле обязательно.
                            </span>
                            <span class="has-error" *ngIf="uAge.errors.minLength">
                                Введено мало символов.
                            </span>
               <span class="has-error" *ngIf="uAge.errors.maxLength">
                                Введено много символов.
                            </span>
            </span>
            <input [ngClass]="{'has-error': (uAge.touched || uAge.dirty) && uAge.errors}" class="form-control"
                   type="number"
                   [(ngModel)]="currentUser.age"
                   value="{{currentUser.age}}"
                   name="age"
                   #uAge="ngModel"
                   minlength="1"
                   maxlength="2"
                   required>

          </label>
        </div>
        <span>Поля ниже заполните на АНГЛИЙСКОМ языке.</span>
        <div>
          <label>City
            <span *ngIf="(uCity.touched || uCity.dirty) && uCity.errors">
                            <span class="has-error" *ngIf="uCity.errors.required">
                                Это поле обязательно.
                            </span>
                            <span class="has-error" *ngIf="uCity.errors.minlength">
                                Введено мало символов.
                            </span>
            </span>
            <input [ngClass]="{'has-error': (uCity.touched || uCity.dirty) && uCity.errors}" class="form-control"
                   type="text"
                   [(ngModel)]="currentUser.city"
                   value="{{currentUser.city}}"
                   name="city"
                   #uCity="ngModel"
                   required
                   minlength="3">


          </label>
        </div>
        <div>
          <label>Street, House number
            <span *ngIf="(uStreet.touched || uStreet.dirty) && uStreet.errors">
                            <span class="has-error" *ngIf="uStreet.errors.required">
                                Это поле обязательно.
                            </span>
                            <span class="has-error" *ngIf="uStreet.errors.minlength">
                                Введено мало символов.
                            </span>
            </span>
            <input [ngClass]="{'has-error': (uStreet.touched || uStreet.dirty) && uStreet.errors}" class="form-control"
                   type="text"
                   [(ngModel)]="currentUser.street"
                   value="{{currentUser.street}}"
                   name="street"
                   #uStreet="ngModel"
                   required
                   minlength="3">

          </label>
        </div>
        <button type="submit" class="button expanded" [disabled]="!editForm.valid">
          Отправить
        </button>
      </form>
    </div>
    <div *ngIf="!editing" class="card">
      <h4>Персональные данные</h4>
      <hr>
      <p>Фото профиля</p>
      <div id="userPic" [ngStyle]="{'background-image': 'url(' + currentUser.userPic + ')'}"></div>

      <p>Имя: {{currentUser.userName}}</p>
      <p>Почта: {{ currentUser.email }}</p>
      <p>Телефон: {{ currentUser.phone }}</p>
      <p>Возраст: {{ currentUser.age }}</p>
      <p>Город: {{ currentUser.city }}</p>
      <p>Улица: {{currentUser.street}}</p>
      <hr>
      <input type="button" class="button" value="Редактировать" (click)="editing = true">
      <hr>
      <div>
        <h4>Координаты</h4>
        <p>Latitude: {{currentUser.lat}} | Longitude: {{currentUser.lng}}</p>
        <hr>
        <sebm-google-map class="map" [latitude]="currentUser.lat" [longitude]="currentUser.lng" [zoom]="18">
          <sebm-google-map-marker [latitude]="currentUser.lat" [longitude]="currentUser.lng">
          </sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>


  </div>
</div>
