

.error{
  color: tomato;
  position: relative;
  margin-top:-5px;
}
.out{
  position: absolute;
 display: none;
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.map {
  width:100%;
  height: 600px;
}
#userPic{
  width: 15rem;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gainsboro;
  //background-image: url('http://i.imgur.com/cTxSCbr.png');
  margin-bottom: 1rem;
}
